<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home Page</title>
</head>
<body>
  
  <%- include('partials/_navbar') %>

  <section class="section">
    <div class="container">
      <h1 class="title is-1 has-text-centered">Welcome to CookBook</h1>

   <figure class="has-text-centered">
        <img src="/Cookbook_Scene.png" alt="CookBook Welcome Image" style="max-width: 50%; height: auto;"/>
      </figure>

    </div>
  </section>


</body>
</html>
